*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Code */
.containerr{
    width: 100vw;
    height: 98vh;
    position: relative;
    background: linear-gradient(to right, #55c88b, #2e8b57);
}

.containerr div1,div2,div3,div4,div5,divD1{
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
}
.containerr divProduct{
    width: 500px;
    height: 500px;
    padding: 25px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    border: 3px solid #13b963;
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
}
.productDes .companyBrand{
    display: flex;
    flex-direction: row;
}
.productDes .companyBrand img{
    width: 200px;
    height: 50px;
    margin-top: -40px;
    margin-left: 10px;
}
#first1,#first2,#first3,#first4,#first5,#firstD1{
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    border: none;
}
#second1, #second2,#second3,#second4,#second5,#secondD1{
    background-size: 200% 200%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    display: none;
}
#lens1,#lens2,#lens3,#lens4,#lens5,#lensD1{
    width: 150px;
    height: 150px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    border: 3px solid #00b050;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
} 
.productDes h1{
    margin: 0px 0 0px 0;
    margin-top: -10px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 1px 2px #000;
}
.productDes h2{
    font-size: 18px;
    margin: 3px 0 10px 0;
    font-weight: 300;
}
.productDes p{
    font-size: 15px;
}
/* .productDes span{
    margin-top: 15px;
    font-size: 60px;
    font-weight: 600;
    display: inline-block;
    color: #353535;
} */
.productDes div{
    margin-top: 20px;
}
.productDes div a{
    font-size: 16px;
    padding: 8px 30px;
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    outline: none;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.12px);
}
.productDes .buy{
    background-color: #ff9f00;
}
.productDes .cart{
    background-color: #fb641b;
    margin-left: 10px;
}
.productDes .buy:hover{
    background-color: #cd19da;
    transition: all 0.3s ease;
}
.productDes .cart:hover{
    background-color: #52e720;
    transition: all 0.3s ease;
    margin-left: 10px;
}

/* Individual Code */
/* ********************************************
            IP CCTV 
******************************************** */
/* IP Camera 1 */
.containerr div1{
    /* background-image: url("/Product-Image/IP-Camera/CB-20X-1820P.jpg"); */
    background-image: url("productImage/ipCamera/01-SAM-CCTV.png");
}
#first1:hover+ #second1{
    display: block;
}

/* IP Camera 2 */
.containerr div2{
    background-image: url("productImage/ipCamera/02-SAM-CCTV.jpg");
}
#first2:hover+ #second2{
    display: block;
}

/* IP Camera 3 */
.containerr div3{
    background-image: url("productImage/ipCamera/03-SAM-CCTV.png");
}
#first3:hover+ #second3{
    display: block;
}

/* IP Camera 4 */
.containerr div4{
    background-image: url("productImage/ipCamera/04-SAM-CCTV.png");
}
#first4:hover+ #second4{
    display: block;
}

/* IP Camera 5 */ 
.containerr div5{
    background-image: url("productImage/ipCamera/05-SAM-CCTV.png");
}
#first5:hover+ #second5{
    display: block;
}
/* ********************************************
            HD CCTV 
******************************************** */
/* HD Camera 1 */
.containerr div1{
    /* background-image: url("/Product-Image/IP-Camera/CB-20X-1820P.jpg"); */
    background-image: url("productImage/hdCamera/01-SAM-CCTV.png");
}
#first1:hover+ #second1{
    display: block;
}

/* HD Camera 2 */
.containerr div2{
    background-image: url("productImage/hdCamera/02-SAM-CCTV.jpg");
}
#first2:hover+ #second2{
    display: block;
}

/* HD Camera 3 */
.containerr div3{
    background-image: url("productImage/hdCamera/03-SAM-CCTV.png");
}
#first3:hover+ #second3{
    display: block;
}

/* HD Camera 4 */
.containerr div4{
    background-image: url("productImage/hdCamera/04-SAM-CCTV.png");
}
#first4:hover+ #second4{
    display: block;
}

/* HD Camera 5 */ 
.containerr div5{
    background-image: url("productImage/hdCamera/05-SAM-CCTV.png");
}
#first5:hover+ #second5{
    display: block;
}
/* ********************************************
            Bullet CCTV 
******************************************** */
/* Bullet Camera 1 */
.containerr div1{
    /* background-image: url("/Product-Image/IP-Camera/CB-20X-1820P.jpg"); */
    background-image: url("productImage/ipCamera/01-SAM-CCTV.png");
}
#first1:hover+ #second1{
    display: block;
}

/* Bullet Camera 2 */
.containerr div2{
    background-image: url("productImage/ipCamera/02-SAM-CCTV.jpg");
}
#first2:hover+ #second2{
    display: block;
}

/* Bullet Camera 3 */
.containerr div3{
    background-image: url("productImage/ipCamera/03-SAM-CCTV.png");
}
#first3:hover+ #second3{
    display: block;
}

/* Bullet Camera 4 */
/* .containerr div4{
    background-image: url("productImage/ipCamera/04-SAM-CCTV.png");
} */
/* #first4:hover+ #second4{
    display: block;
} */

/* Bullet Camera 5 */ 
.containerr div5{
    background-image: url("productImage/ipCamera/05-SAM-CCTV.png");
}
#first5:hover+ #second5{
    display: block;
}

/* ********************************************
            Dome CCTV 
******************************************** */
/* Dome Camera 1 */
.containerr divD1{
    /* background-image: url("/Product-Image/IP-Camera/CB-20X-1820P.jpg"); */
    background-image: url("productImage/domeCamera/04-SAM-CCTV.png");
}
#firstD1:hover+ #secondD1{
    display: block;
}

/* Dome Camera 2 */
/* .containerr divD2{
    background-image: url("productImage/ipCamera/02-SAM-CCTV.jpg");
}
#first2:hover+ #second2{
    display: block;
} */

/* Dome Camera 3 */
/* .containerr div3{
    background-image: url("productImage/ipCamera/03-SAM-CCTV.png");
}
#first3:hover+ #second3{
    display: block;
} */

/* Dome Camera 4 */
/* .containerr div4{
    background-image: url("productImage/ipCamera/04-SAM-CCTV.png");
}
#first4:hover+ #second4{
    display: block;
} */

/* Dome Camera 5 */ 
/* .containerr div5{
    background-image: url("productImage/ipCamera/05-SAM-CCTV.png");
}
#first5:hover+ #second5{
    display: block;
} */
/* ******************************************************
    Line1 Line2 Gradient Styling 
****************************************************** */

.hrLine1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    background: linear-gradient(to right, #55c88b, #2e8b57);
}
.leftLine{
    width: 40%;
    height: 2px;
    /* background: red; */
    background: radial-gradient(circle, rgb(235, 151, 35) 0%, rgb(36, 213, 98) 100%);
}
.rightLine{
    width: 37%;
    height: 2px;
    /* background: green; */
     background: radial-gradient(circle, rgb(209, 13, 144) 0%, rgb(16, 202, 81) 100%);
    margin-left: 15px;
}