*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Code */
.containerr{
    width: 100vw;
    height: 98vh;
    position: relative;
    background: linear-gradient(to right, #55c88b, #2e8b57);
}

.containerr div1,div2,div3,div4,div5{
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
}
.containerr divProduct{
    width: 500px;
    height: 500px;
    padding: 25px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    border: 3px solid #13b963;
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
}
#first1,#first2,#first3,#first4,#first5{
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    border: none;
}
#second1, #second2,#second3,#second4,#second5{
    background-size: 200% 200%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    display: none;
}
#lens1, #lens2,#lens3,#lens4,#lens5{
    width: 150px;
    height: 150px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    border: 3px solid #00b050;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
} 
.productDes h1{
    margin: 0px 0 10px 0;
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 1px 2px #000;
}
.productDes h2{
    font-size: 20px;
    margin: 5px 0 10px 0;
    font-weight: 300;
}
.productDes p{
    font-size: 16px;
}
.productDes span{
    margin-top: 15px;
    font-size: 60px;
    font-weight: 600;
    display: inline-block;
    color: #353535;
}
.productDes button{
    font-size: 18px;
    padding: 15px 50px;
    margin-top: 30px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    outline: none;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.12px);
}
.productDes .buy{
    background-color: #ff9f00;
}
.productDes .cart{
    background-color: #fb641b;
    margin-left: 10px;
}
.productDes .buy:hover{
    background-color: #cd19da;
    transition: all 0.3s ease;
}
.productDes .cart:hover{
    background-color: #52e720;
    transition: all 0.3s ease;
    margin-left: 10px;
}

/* Individual Code */

/* IP Camera 1 */

.containerr div1{
    /* background-image: url("/Product-Image/IP-Camera/CB-20X-1820P.jpg"); */
    background-image: url("productImage/ipCamera/CB-20X-1820P.jpg");
}
#first1:hover+ #second1{
    display: block;
}

/* IP Camera 2 */

.containerr div2{
    background-image: url("productImage/ipCamera/cctv-ip-camera-500x500.webp");
}
#first2:hover+ #second2{
    display: block;
}


/* IP Camera 3 */
.containerr div3{
    background-image: url("productImage/ipCamera/cats5.jpg");
}
#first3:hover+ #second3{
    display: block;
}


/* IP Camera 4 */
.containerr div4{
    background-image: url("productImage/ipCamera/HI-4501IRE.jpg");
}
#first4:hover+ #second4{
    display: block;
}


/* IP Camera 5 */
 
.containerr div5{
    background-image: url("productImage/ipCamera/unnamed 4.jpg");
}
#first5:hover+ #second5{
    display: block;
}

/* ******************************************************
    Line1 Line2 Gradient Styling 
****************************************************** */

.hrLine1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    background: linear-gradient(to right, #55c88b, #2e8b57);
}
.leftLine{
    width: 40%;
    height: 2px;
    /* background: red; */
    background: radial-gradient(circle, rgb(235, 151, 35) 0%, rgb(36, 213, 98) 100%);
}
.rightLine{
    width: 37%;
    height: 2px;
    /* background: green; */
     background: radial-gradient(circle, rgb(209, 13, 144) 0%, rgb(16, 202, 81) 100%);
    margin-left: 15px;
}