*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Code */
.containerr{
    width: 100vw;
    height: 98vh;
    position: relative;
    background: linear-gradient(to right, #8cdeb2, #8fe6b5);   
}
.containerr div1,div2,div3,divD1,div6,div7,div8,divD6,divX1,divX2,divX3,divN1,divN2,divN3{
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
    box-shadow: -1px 6px 20px 5px rgba(23,21,21,0.74);
    -webkit-box-shadow: -1px 6px 20px 5px rgba(23,21,21,0.74);
    -moz-box-shadow: -1px 6px 20px 5px rgba(23,21,21,0.74);
    border-radius: 15px;
}
.containerr divProduct{
    width: 500px;
    height: 500px;
    padding: 25px;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    border: 3px solid #13b963;
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
    box-shadow: -1px 6px 20px 5px rgba(23,21,21,0.74);
    -webkit-box-shadow: -1px 6px 20px 5px rgba(23,21,21,0.74);
    -moz-box-shadow: -1px 6px 20px 5px rgba(23,21,21,0.74);
    border-radius: 15px;
}
.productDes .companyBrand{
    display: flex;
    flex-direction: row;
}
.productDes .companyBrand img{
    width: 200px;
    height: 50px;
    margin-top: -40px;
    margin-left: 10px;
}
#first1,#first2,#first3,#firstD1,#firstD6,#first6,#first7,#first8,#firstX1,#firstX2,#firstX3,#firstN1,#firstN2,#firstN3{
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    border: none;
}
#second1,#second2,#second3,#secondD1,#second6,#second7,#second8,#secondD6,#secondX1,#secondX2,#secondX3,#secondN1,#secondN2,#secondN3{
    background-size: 200% 200%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    display: none;
}
#lens1,#lens2,#lens3,#lensD1,#lens6,#lens7,#lens8,#lensD6,#lensX1,#lensX2,#lensX3,#lensN1,#lensN2,#lensN3{
    width: 150px;
    height: 150px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    border: 3px solid #00b050;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
} 
.productDes h1{
    margin: 0px 0 0px 0;
    margin-top: -10px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    text-shadow: 1px 2px #000;
}
.productDes h2{
    font-size: 18px;
    margin: 3px 0 10px 0;
    font-weight: 300;
}
.productDes p{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 30px;
    color: #000;
}
.productDes div{
    margin-top: 20px;
}
.productDes div a{
    font-size: 16px;
    padding: 8px 30px;
    margin-top: 15px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    outline: none;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.12px);
}
.buyCart{
    padding-bottom: 5px;
}
.productDes .buy{
    background-color: #ff9f00;
}
.productDes .cart{
    background-color: #fb641b;
    margin-left: 10px;
}
.productDes .buy:hover{
    background-color: #cd19da;
    transition: all 0.3s ease;
}
.productDes .cart:hover{
    background-color: #52e720;
    transition: all 0.3s ease;
    margin-left: 10px;
}

/* Individual Code */
/* ********************************************
            IP Bullet CCTV 
******************************************** */
/* IP Camera 1 */
.containerr div1{
    background-image: url("productImage/IPBulletCCTV/01-B-CCTV.png");
}
#first1:hover+ #second1{
    display: block;
}

/* IP Camera 2 */
.containerr div2{
    background-image: url("productImage/IPBulletCCTV/02-B-CCTV.jpg");
}
#first2:hover+ #second2{
    display: block;
}

/* IP Camera 3 */
.containerr div3{
    background-image: url("productImage/IPBulletCCTV/03-B-CCTV.png");
}
#first3:hover+ #second3{
    display: block;
}

/* ********************************************
            IP Dome CCTV 
******************************************** */
.containerr divD1{
    background-image: url("productImage/IPDomeCCTV/01-SAM-CCTV.png");
}
#firstD1:hover+ #secondD1{
    display: block;
}

/* ********************************************
            HD Bullet CCTV 
******************************************** */
/* HD Camera 1 */
.containerr div6{
    background-image: url("productImage/HDBulletCCTV/01-SAM-CCTV.png");
}
#first6:hover+ #second6{
    display: block;
} 

/* HD Camera 2 */
.containerr div7{
    background-image: url("productImage/HDBulletCCTV/02-SAM-CCTV.jpg");
}
#first7:hover+ #second7{
    display: block;
}

/* HD Camera 3 */
.containerr div8{
    background-image: url("productImage/HDBulletCCTV/03-SAM-CCTV.png");
}
#first8:hover+ #second8{
    display: block;
}

/* ********************************************
            HD Dome CCTV 
******************************************** */
/* HD Camera 1 */
.containerr divD6{
    background-image: url("productImage/HDDomeCCTV/01-SAM-CCTV.png");
}
#firstD6:hover+ #secondD6{
    display: block;
} 

/* ********************************************
            XVR
******************************************** */
/* XVR 1 */
.containerr divX1{
    background-image: url("productImage/HDDomeCCTV/01-SAM-CCTV.png");
}
#firstX1:hover+ #secondX1{
    display: block;
} 

/* XVR 2 */
.containerr divX2{
    background-image: url("productImage/HDDomeCCTV/01-SAM-CCTV.png");
}
#firstX2:hover+ #secondX2{
    display: block;
} 

/* XVR 3 */
.containerr divX3{
    background-image: url("productImage/HDDomeCCTV/01-SAM-CCTV.png");
}
#firstX3:hover+ #secondX3{
    display: block;
} 



/* ********************************************
            NVR
******************************************** */
/* NVR 1 */
.containerr divN1{
    background-image: url("productImage/NVR/nvr.png");
}
#firstN1:hover+ #secondN1{
    display: block;
} 

/* NVR 2 */
.containerr divN2{
    background-image: url("productImage/NVR/nvr.png");
}
#firstN2:hover+ #secondN2{
    display: block;
} 

/* NVR 3 */
.containerr divN3{
    background-image: url("productImage/NVR/nvr.png");
}
#firstN3:hover+ #secondN3{
    display: block;
} 



/* ******************************************************
    Line1 Line2 Gradient Styling 
****************************************************** */

.hrLine1{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
  
}
.leftLine{
    width: 50%;
    height: 3px;
    /* background: red; */
    background: radial-gradient(circle, rgb(235, 151, 35) 0%, rgb(172, 227, 191) 100%);
}
.rightLine{
    width: 50%;
    height: 3px;
    /* background: green; */
     background: radial-gradient(circle, rgb(209, 13, 144) 0%, rgb(203, 219, 209) 100%);
    /* margin-left: 15px; */
}

@media screen and (max-width: 480px){

   /* Common Code */
.containerr{
    width: 100%;
    height: 150vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.containerr div1,div2,div3,divD1,div6,div7,div8,divD6,divX1,divX2,divX3,divN1,divN2,divN3{
    width: 300px;
    height: 300px;
    border: 1px solid #000;
    background-size: 100% 100%;
    margin-top: 2px;
    position: absolute;
    overflow: hidden;
}
.containerr divProduct{
    display: block;
    width: 300px;
    height: 585px;
    margin-top: 9px;
    padding: 15px;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #13b963;
    background-size: 100% 100%;
    position: absolute;
    overflow: hidden;
}
.productDes .companyBrand{
    display: flex;
    flex-direction: row;
}
.productDes .companyBrand img{
    width: 165px;
    height: 35px;
    margin-top: -15px;
    margin-right: 3px;
    left: 0;
}
#first1,#first2,#first3,#firstD1,#first6,#first7,#first8,#firstD6,#firstX1,#firstX2,#firstX3,#firstN1,#firstN2,#firstN3{
    top: 13%;
    left: 10%;
    transform: translateY(-25%);
    border: none;
}
#second1,#second2,#second3,#secondD1,#second6,#second7,#second8,#secondD6,#secondX1,#secondX2,#secondX3,#secondN1,#secondN2,#secondN3{
    display: none;
}
#lens1,#lens2,#lens3,#lensD1,#lens6,#lens7,#lens8,#lensD6,#lensX1,#lensX2,#lensX3,#lensN1,#lensN2,#lensN3{
    display: none;
} 
.productDes .companyBrand h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: -180px;  
}
.productDes h2{
    font-size: 15px;
    margin: 3px 0 10px 0;
    font-weight: 300;
}
.productDes p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
}
/* .productDes div{
    margin-top: 10px;
} */
.productDes div a{
    font-size: 15px;
    padding: 8px 15px;
    margin-top: 13px;
}
.hrLine1{
    padding-top: 40px;
    /* padding-bottom: -120px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    background: linear-gradient(to right, #55c88b, #2e8b57);
}

/* Individual Code */

/* IP Bullet Camera */
#first1:hover+ #second1{
    display: none;
}
#first2:hover+ #second2{
    display: none;
}
#first3:hover+ #second3{
    display: none;
}

/* IP Dome Camera 1 */

#firstD1:hover+ #secondD1{
    display: none;
}

/* HD Bullet Camera */
#first6:hover+ #second6{
    display: none;
}
#first7:hover+ #second7{
    display: none;
}
#first8:hover+ #second8{
    display: none;
}

/* HD Dome Camera */
#firstD6:hover+ #secondD6{
    display: none;
}

/* XVR */
#firstX1:hover+ #secondX1{
    display: none;
}
#firstX2:hover+ #secondX2{
    display: none;
}
#firstX3:hover+ #secondX3{
    display: none;
}

/* NVR */
#firstN1:hover+ #secondN1{
    display: none;
}
#firstN2:hover+ #secondN2{
    display: none;
}
#firstN3:hover+ #secondN3{
    display: none;
}

}